@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

body {
  background-color: #feAfc3;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #2d3440;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.visually-hidden {
  display: none;
}

.navbar__item,
.content__item {
  list-style-type: none;
}

.navbar__link {
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.header__phone {
  font-weight: bold;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.header__search {
  border-radius: 50%;
  border: 0;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  background: #fcfcfc url("../images/icon/search_icon.svg") no-repeat 8.58px;
}

.header__login {
  background: #fcfcfc url("../images/icon/login_icon.svg") no-repeat;
  background-position: left center;
  border-radius: 26px;
  border: 0;
  width: 92px;
  height: 32px;
  opacity: 0.3;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.header__basket {
  background: #fcfcfc url("../images/icon/cartblack_icon.svg") no-repeat;
  background-position: left center;
  border-radius: 26px;
  border: 0;
  width: 97px;
  height: 32px;
  opacity: 0.3;
  padding: 7px 18px 7px 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.icecream__name {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.icecream__description {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.icecream__order {
  font-weight: bold;
  line-height: 20px;
  padding: 12px 32px;
  background: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  text-decoration: none;
}

.gift__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.gift__list {
  display: flex;
}

.offer {
  list-style-type: none;
  background-repeat: no-repeat;
  background-color: #ff7799;
  border-radius: 16px;
  width: 570px;
  min-height: 268px;
}

.offer--raspberry {
  background-image: url("../images/background/raspberry_background.png");
}

.offer--marshmallow {
  background-image: url("../images/background/marshmallow_background.png");
}

.offer__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.offer__description {
  font-weight: normal;
  line-height: 22px;
}

.offer__button {
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  padding: 12px 32px;
  background: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  width: 176px;
  height: 44px;
}

.kinds__list { 
  display: grid;
  gap: 30px;
  grid-template-columns: 270px 270px 270px 270px;
}

.kinds__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.tastes__item {
  list-style-type: none;
}

.taste__img {
  border-radius: 50%;
}

.taste__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.taste__description {
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
  text-align: center;
}

.data__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.data__order {
  background: #ff2f64 url("../images/icon/cartblack_icon.svg") no-repeat;
  background-color: #ff2f64;
  border-radius: 50%;
  border: 0;
  width: 32px;
  height: 32px;
}

.main__information {
  display: flex; 
  margin-top: 80px;
}

.advantage__item {
  list-style-type: none;
}

.advantages__background {
  display: flex; 
  background-image: url("../images/background/waffle_background.jpg");
  width: 1170px;
  min-height: 480px;
  border-radius: 16px;
}

.advantages__container {
  display: flex; 
  flex-direction: column;
  margin: 24px;
  min-height: 432px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.advantages__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.advantage__item {
  position: relative;
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}

.info__blog {
  background: url("../images/background/news_background.jpg");
  border-radius: 16px;
  width: 570px;
  min-height: 220px;
}

.blog__description {
  font-weight: normal;
  line-height: 20px;
  color: #565c66;
  text-decoration: none;
}

.blog__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

.info__mail {
  display: flex;
  background: url("../images/background/mail_background.jpg");
  border-radius: 16px;
  width: 570px;
  min-height: 220px;
}

.mail__container {
  display: flex; 
  flex-direction: column;
  margin: 6px;
  width: 558px;
  height: 208px;
  width: 100%;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.mail__description {
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}

.send__button,
.record__button {
  font-weight: bold;
  line-height: 20px;
  color: #fcfcfc;
  text-align: center;
  background: #ff2Ff4;
  border: 4px solid rgba(252, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  width: 152px;
  height: 44px;
}

.delivery__container {
  background-image: url("../images/background/delivery_background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;
  min-height: 534px;
}

.delivery__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery__description {
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}

.delivery__form {
  font-weight: bold;
  line-height: 20px;
}

.location {
  background-image: url("../images/background/address_background.jpg");
  max-width: 1170px;
  border-radius: 16px;
  min-height: 492px;
}

.location__description {
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}

.main-address,
.main-phone {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.location__button {
  background: #ff2f64;
  border: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  width: 250px;
  height: 46px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fcfcfc;
}

.footer {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.socials { /* Иконки соц.сетей получилось отобразить только так, так как сама ссылка inline*/
  display: flex;
}

.socials__item {
  list-style-type: none;
}

.vk {
  display: flex; 
  background-image: url("../images/socials/vk.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.facebook {
  display: flex; 
  background-image: url("../images/socials/facebook.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.instagram {
  display: flex; 
  background-image: url("../images/socials/instagram.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.active {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  background: url("../images/icon/heart_icon.svg") no-repeat;
  background-position: left center;
  text-decoration: none;
}

.files__item {
  list-style-type: none;
}

.files__link,
.author__description {
  color: #565c66;
  text-decoration: none;
}
/* Catalog */

.current {
  background: #ff4a78;
  border-radius: 26px;
  width: 95px;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  color: #fcfcfc;
  padding: 8px 16px;
  text-decoration: none;
}

.catalog__list {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.breadcrumb__item {
  list-style-type: none;
}

.percent-item {
  list-style-type: none;
}

.supplement-item {
  list-style-type: none;
}

.breadcrumb__link {
  text-decoration: none;
  color: #2d3440;
}

.catalog__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.container__form {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.options__button {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  width: 187px;
  height: 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.data__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.data__order {
  background: #ff2f64 url("../images/icon/cartblack_icon.svg") no-repeat;
  border-radius: 50%;
  border: 0;
  width: 32px;
  height: 32px;
  align-items: center;
}

.catalog__view {
  background: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
  width: 179px;
  height: 44px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
}

.pagination__link {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.pagination__item {
  list-style-type: none;
}

