*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  background-color: #feAfc3;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #2d3440;
  overflow: auto;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 30px;
  box-sizing: content-box;
}

.main > *:not(:last-child) {
  margin-bottom: 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.common-button,
.additional-button {
  padding: 12px 28px;
  min-height: 44px;
  font-weight: bold;
  line-height: 20px;
  text-align: center;
  border-radius: 26px;
  border: none;
}

.common-button:hover {
  background: rgba(252, 252, 252, 0.4);
  border: none;
  box-shadow: 0 0 0 4px #fcfcfc;
}

.common-button:focus {
  background: #fcfcfc;
  border: none;
  box-shadow: 0 0 0 2px rgb(45, 52, 64);
  outline: none;
}

.common-button:disabled {
  background: #b9b9b9;
  box-shadow: 0 0 0 4px rgba(252, 252, 252,0.4);
  color: #565c66;
}

.additional-button:hover {
  background: rgba(252, 252, 252, 0.3);
  box-shadow: 0 0 0 4px rgb(255, 47, 100);
  color: #2d3440;
}

.additional-button:focus {
  border: none;
  background: #FF2F64;
  box-shadow: 0 0 0 2px #2d3440, 0px 4px 12px rgba(45, 52, 64, 0.1);
  outline: none;
}

.additional-button:disabled {
  background: #b9b9b9;
  box-shadow: 0 0 0 4px rgba(185, 185, 185,0.3);
  color: #565c66;
}


/*Header*/

.header {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navbar__item,
.content__item {
  list-style-type: none;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  min-width: 419px;
}

.navbar__item {
  padding: 8px 0;
}


.navbar__link {
  display: flex;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  padding: 8px 16px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 180px;
  align-items: center;
}

.dropdown__item {
  display: flex;
  list-style-type: none;
}

.dropdown__item:not(:first-child) {
  margin-right: 16px;
}

.dropdown__item:last-child {
  margin-right: 0;
}

.dropdown__link {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.phone {
  display: flex;
  margin-right: 18px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
}

.dropdown__image {
  position: absolute;
  fill: #2d3440;
}

.search .dropdown__link {
  border-radius: 50%;
  padding: 9px;
  background-color: rgba(252, 252, 252, 0.3);
}

.login .dropdown__link,
.basket .dropdown__link {
  padding: 7px 18px 7px 17px;
  border-radius: 26px;
  background-color: rgba(252, 252, 252, 0.3);
}

.login .dropdown__icon,
.basket .dropdown__icon {
  margin-right: 8px;
}

.navbar__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 26px;
}

.navbar__link:focus {
  box-shadow: 0 0 0 0 rgba(252, 252, 252, 0.5), 0 0 0 2px #2D3440;
  outline: none;
}

.navbar__link:active {
  background-color: rgb(252, 252, 252);
  border: none;
}

.search .dropdown__link:hover,
.login .dropdown__link:hover,
.basket .dropdown__link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.search .dropdown__link:focus,
.login .dropdown__link:focus,
.basket .dropdown__link:focus{
  box-shadow: 0 0 0 0 rgba(252, 252, 252, 0.5), 0 0 0 2px #2D3440; 
  outline: none;
}

.search .dropdown__link:active,
.login .dropdown__link:active,
.basket .dropdown__link:active{
  background-color: rgb(252, 252, 252);
  border: none;
}


/*Main*/

.main {
  flex-grow: 1;
}

/*Slider*/

.slider__social {
  display: flex;
}

.slider__list {
  display: flex;
  min-height: 507px;
  width: 100%;
  margin-bottom: 0;
}

.content__item{
  display: flex;
  justify-content: space-between;
}

.item__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  margin: 158px 61px 0 70px;
}

.icecream__name {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.icecream__description {
  margin-bottom: 48px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.icecream__order {
  display: flex;
  justify-content: center;
  max-width: 139px;
  background-color: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4), 0 4px 12px rgba(45, 52, 64, 0.1);
  text-decoration: none;
  color: #2d3440;
  cursor: pointer;
}

.slider__image {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 88px;
}

.image__item {
  list-style-type: none;
  background-color: #ffcbd8;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}

.image__item--current {
  background-color: #ffcbd8;
  opacity: 1;
  width: 312px;
  height: 312px;
  border-radius: 50%;
  position: relative;
}

.image__item:first-child {
  margin-right: 56px;
}

.image__item:nth-child(2) {
  margin-right: 41px;
}

.image__item:not(:first-child) {
  opacity: 0.4;
}

.item__img {
  max-width: 100px;
  height: 150px;
  position: absolute;
  top: -25px;
  right: 3px;
}

.image__item--current .item__img{
  max-width: 306px;
  height: 507px;
  opacity: 1;
  position: absolute;
  top: -100px;
  right: 6px;
}

.item__chevron {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  box-sizing: border-box;
  border-radius: 26px; 
}

.item__chevron {
  position: absolute;
  top: 137px;
  min-width: 38px;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fcfcfc;
}

.item__chevron:hover {
  fill: #2d3440;
  background: #fcfcfc;
}

.item__chevron:focus {
  fill: #2d3440;
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #2d3440;
  outline: none;
}

.item__chevron:disabled {
  background: rgba(252,252,252,0.3);
  border: 2px solid rgba(252, 252, 252, 0.3);
  fill: rgba(252, 252, 252, 0.3);
  cursor: default;
}

.left {
  left: -19px;
}

.right {
  right: -19px;
}

.left__image, 
.right__image {
  min-width: 16px;
  min-height: 16px;
}

.slider__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 24px;
  margin-top: 42px;
}

.slider__dots {
  display: flex;
  min-width: 52px;
  align-items: flex-end;
}

.dots__item {
  list-style-type: none;
}

.dots__item:not(:last-child) {
  margin-right: 8px;
}

.dots {
  display: block;
  min-height: 12px;
  min-width: 12px;
  background-image: url(../images/icon/dots_icon.svg);
  background-repeat: no-repeat;
}

.dots:hover {
  border: 1px solid #fcfcfc;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 100%;
}

.dots:focus {
  border: 1px solid #2D3440;
  background: rgba(252, 252, 252, 0.3);
  border-radius: 100%;
  outline: none;
}

.dots__item:not(:first-child) {
  opacity: 0.3;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 104px;
  margin-left: auto;
}

.socials__item {
  list-style-type: none;
}

.socials__item:not(:nth-child(3n)) {
  margin-right: 16px;
}

.socials__link {
  display: block;
}

.socials__link svg {
  border-radius: 100%;
  fill:#fcfcfc;
  box-shadow: 0 0 0 2px rgba(252, 252, 252, 0.2);
}

.socials__link svg:hover{
  fill:#fcfcfc;
  background: radial-gradient(circle, rgba(45,52,64,1) 0%, rgba(45,52,64,1) 70%, rgba(252,252,252,1) 70%);
  background-clip: content-box;
}

.socials__link:focus{
  fill:#fcfcfc;
  box-shadow: 0 0 0 2px #2d3440;
  background: #2d3440;
  border-radius: 100%;
  max-width: 24px;
  max-height: 24px;
  outline: none;
}

/*Gift*/

.gift__title {
  margin: 0 auto 56px auto;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  max-width: 443px;
}

.gift__list {
  display: flex;
  flex-direction: row;
}

.gifts__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 40px 0 40px 40px;
  min-width: 570px;
  min-height: 268px;
  list-style-type: none;
  background-repeat: no-repeat;
  background-color: #ff7799;
  border-radius: 16px;
}

.gifts__item:first-child {
  margin-right: 30px;
}

.raspberry {
  background-image: url("../images/background/raspberry_background.png");
  background-position: 96% bottom;
}

.marshmallow {
  background-image: url("../images/background/marshmallow_background.png");
  background-position: 98% bottom;
}

.gifts__title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.gifts__description {
  margin-bottom: 32px;
  width: 321px;
  font-weight: normal;
  line-height: 22px;
}
.marshmallow .gifts__description {
  width: 294px;
}

.gifts__button {
  max-width: 176px;
  text-align: center;
  color: #2d3440;
  text-decoration: none;
  background: #fcfcfc;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4), 0 4px 12px rgba(45, 52, 64, 0.1);
  border-radius: 26px;
}

/*Kinds*/
.kinds__title {
  margin: 0 auto 56px auto;
  width: 527px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.kinds__list {
  display: grid;
  gap: 30px;
  grid-template-columns: 270px 270px 270px 270px;
}

.tastes__item {
  padding: 0px 40px 24px 40px;
  border-radius: 8px;
  position: relative;
  color: #000000;
  list-style-type: none;
  text-align: center;
}

.tastes__item::before {
  content: "";
  display: block;
  background-color: #fcfcfc;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.taste__img {
  display: flex;
  max-width: 168px;
  max-height: 168px;
  margin: 0 auto 16px auto;
  border-radius: 50%;
  object-fit: cover;
}

.taste__title {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.taste__description {
  margin-bottom: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}

.taste__pricelist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data__price {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.data__order {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff2f64;
  fill: #fcfcfc;
  border-radius: 50%;
  border: 0;
  min-width: 32px;
  min-height: 32px;
}

.data__order:hover {
  background: #fcfcfc;
  border: 2px solid #ff2f64;
  fill: #2d3440;
}

.data__order:focus {
  background: #ff2f64;
  border: 2px solid #2d3440;
  fill: #fcfcfc;
  outline: none;
}

.data__order:disabled {
  background: #b9b9b9;
  fill: #2d3440;
  border: none;
  cursor: default;
}

/*advantages*/

.advantages__background {
  display: flex;
  min-height: 480px;
  width: 1170px;
  background-image: url("../images/background/waffle_background.jpg");
  border-radius: 16px;
  object-fit: cover;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  margin: 24px;
  min-height: 432px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.advantages__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
  margin: 56px auto 0 auto;
}

.advantages__list {
  display: grid;
  gap: 31px;
  column-gap: 31px;
  row-gap: 40px;
  grid-template-columns: 506px 506px;
  grid-template-rows: 66px 66px;
  margin: 56px auto 56px auto;
}

.advantage__item {
  width: 506px;
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
  list-style-type: none;
}

.advantage__item:nth-child(1) {
  background-image: url("../images/icon/icecream_icon.svg");
  background-repeat: no-repeat;
  padding-left: 64px;
}

.advantage__item:nth-child(2) {
  background-image: url("../images/icon/cow_icon.svg");
  background-repeat: no-repeat;
  padding-left: 64px;
}
.advantage__item:nth-child(3) {
  background-image: url("../images/icon/leaf_icon.svg");
  background-repeat: no-repeat;
  padding-left: 64px;
}

.advantage__item:nth-child(4) {
  background-image: url("../images/icon/thermometer_icon.svg");
  background-repeat: no-repeat;
  padding-left: 64px;
}

/*info*/

.main__information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.info__blog {
  width: 570px;
  min-height: 220px;
  background: url("../images/background/news_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 16px;
}

.blog__description {
  display: flex;
  margin: 32.59px 0 12.22px 32px;
  font-weight: normal;
  line-height: 20px;
  color: #565c66;
  text-decoration: none;
}

.blog__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;
  color: #2d3440;
}

.blog__title h4 {
  margin-left: 32px;
  width: 303px;
}

/*mail*/

.info__mail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 570px;
  min-height: 220px;
  background: url("../images/background/mail_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.mail__container {
  display: flex;
  flex-direction: column;
  margin: 6px;
  width: 558px;
  min-height: 208px;
  background-color: #fcfcfc;
  border-radius: 16px;
}

.mail__description {
  margin: 26px 26px 0 26px;
  width: 506px;
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}

.mail__form {
  margin: 0 24px 26px 26px;
}

.send__address {
  padding: 14px 160px 14px 16px;
  margin-top: 42px;
  width: 332px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #b9b9b9;
  margin-right: 24px;
}

.send__button {
  max-width: 152px;
  color: #fcfcfc;
  text-align: center;
  background: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3), 0 4px 12px rgba(45, 52, 64, 0.1);
}

/*delivery*/

.delivery__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  min-height: 534px;
  background-image: url("../images/background/delivery_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.delivery__background {
  margin: 167px 0 163px 100px;
  width: 371px;
}

.delivery__title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.delivery__description {
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}

.delivery__box {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 406px;
  padding: 40px;
  margin: 64px 64px 64px 0;
  background-color: #fcfcfc;
  box-shadow: 0px 15px 40px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.record__description {
  margin-bottom: 32px;
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}
.record__form {
  display: grid;
  grid-template-columns: 117px 287px;
  column-gap: 16px;
  row-gap: 20px;
}

.box__date,
.box__phone {
  display: flex;
  flex-direction: column;
}

.box__address {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__label {
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 8px;
}

.box__date .form__label,
.box__address .form__label {
  background-image: url("../images/icon/info_icon.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.box__date .form__label {
  max-width: 58px;
}

.box__address .form__label {
  max-width: 70px;
}

.record__date,
.record__phone, 
.record__address {
  padding: 14px 16px;
  height: 48px;
  border: 1px solid #b9b9b9;
  box-sizing: border-box;
  border-radius: 4px;
}

.form__button {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 12px;
  max-width: 152px;
  color: #fcfcfc;
  text-align: center;
  background: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3), 0 4px 12px rgba(45, 52, 64, 0.1);
}

/*location*/

.location {
  padding: 64px;
  max-width: 1170px;
  min-height: 492px;
  background-image: url("../images/background/address_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
}

.location-container {
  padding: 40px;
  width: 343px;
  min-height: 364px;
  background-color: #fcfcfc;
  box-shadow: 0px 8px 16px rgba(45, 52, 64, 0.12);
  border-radius: 8px;
}

.location__description{
  margin-bottom: 12px;
  width: 203px;
  font-weight: normal;
  line-height: 22px;
  color: #565c66;
}

.location-time {
  margin-bottom: 32px;
  width: 160px;
  font-size: 14px;
  line-height: 20px;
}

.location__street{
  display: flex;
  margin: 12px 0 8px 0;
  width: 263px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.main-information {
  display: flex;
  margin-bottom: 0;
  max-width: 262px;
  line-height: 20px;
  text-decoration: none;
  color: #2d3440;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.location__description .main-information {
  margin-bottom: 24px;
}

.location__button {
  background: #ff2f64;
  box-shadow: 0 0 0 4px rgba(255, 47, 100, 0.3), 0 4px 12px rgba(45, 52, 64, 0.1);
  max-width: 250px;
  color: #fcfcfc;
  padding: 13px 32px;
}

hr {
  border: 1px solid rgba(252, 252, 252, 0.3);
}

/*footer*/

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 46px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.footer__links {
  margin-left: 4px;
  min-width: 104px;
}

.files {
  display: grid;
  grid-template-columns: 128px 206px;
  grid-column-gap: 24px;
  grid-auto-rows: 28px;
  margin-left: 323px;
}

.files__item {
  list-style-type: none;
}

.files__link {
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
  text-decoration: none;
}

.footer__author {
  margin-left: 175px;
  min-width: 193px;
  display: block;
}

.active .files__link {
  position: relative;
  font-weight: bold;
}

.active .files__link:before {
  content: url("../images/icon/heart_icon.svg");
  position: absolute;
  top: 1px;
  left: -24px;
}

.author__description {
  display: flex;
  margin-top: 9px;
  color: #565c66;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
}

.author__html {
  text-decoration: underline;
}

/* Catalog */

.navbar__item--current {
  padding: 8px 16px;
  margin-left: 16px;
  min-width: 95px;
  min-height: 36px;
  background: #ff4a78;
  border-radius: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  text-decoration: none;
}

.navbar__item--current .navbar__link {
  color: #fcfcfc;
}

.catalog__list {
  display: flex;
  margin-top: 32px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.breadcrumb__item {
  margin-right: 28px;
  list-style-type: none;
}

.breadcrumb__item:nth-child(2) a{
  text-decoration: underline;
}

.box__form {
  width: 807px;
}

.options__box {
  display: flex;
  flex-direction: column;
}

.options__sort {
  width: 196px;
}

.options__fat {
  width: 367px;
}

.percent-list {
  display: flex;
}

.percent-item {
  list-style-type: none;
}

.box__supplement {
  display: flex;
}

.options__supplement {
  width: 596px;
}

.supplement__list {
  display: flex;
}

.supplement-item {
  list-style-type: none;
}

.breadcrumb__link {
  text-decoration: none;
  color: #2d3440;
}

.catalog__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  margin: 16px 0 40px 0;
}

.container__form {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 807px;
}

.options__button {
  background: rgba(252, 252, 252, 0.3);
  border: 2px solid #fcfcfc;
  border-radius: 20px;
  width: 187px;
  height: 36px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}

.catalog__tastes {
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  gap: 30px;
  row-gap: 40px;
  margin: 48px auto 16px auto;
}

.catalog__pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 81px;
  margin-top: 57px;
}

.pagination__view {
  background: #fcfcfc;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  max-width: 179px;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-right: 300px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__link {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
  padding: 2px 8px;
  display: flex;
  align-items: center;
}

.pagination__item {
  list-style-type: none;
}

.active-link {
  background-color: #fcfcfc;
  border-radius: 50px;
  width: 24px;
  height: 24px;
}




